<!-- footer.ejs
Xuan Tri Nguyen 
3013888576
Duedate: Sep 26, 2024  -->
<footer>
  <hr/>
  <ul class="social-media">
  <li><a href="https://www.linkedin.com/in/xuan-tri-nguyen-253046309/"><img src="assets/LinkedIn_icon.jpg" alt="LinkedIn"></img></a></li>
  <li><a href="https://github.com/irtnaux0910"><img src="assets/GitHub_icon.png" alt="LinkedIn"></img></a></li>
</ul>
<p>&copy; 2024 Xuan Tri Nguyen. All rights reserved.</p>
</footer>
  