<!-- header.ejs
Xuan Tri Nguyen 
3013888576
Duedate: Sep 26, 2024  -->
<header>
  <h1><img src='/assets/logo.png' width="70px" height="70px"></img>Portfolio</h1>
 <nav>
     <ul>
          <li><a href="/">Home</a></li>|
          <li><a href="/about">About</a></li>|
          <li><a href="/education">Education</a></li>|
          <li><a href="/projects">Project</a></li>|
          <li><a href="/contact">Contact</a></li>
     </ul>
</nav>    
</header>
