<!-- head.ejs
Xuan Tri Nguyen 
3013888576
Duedate: Sep 26, 2024  -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="Tech-Paw" href="assets/logo.png"/>
    <title>Xuan Tri Nguyen Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
  