<!-- about.ejs
Xuan Tri Nguyen 
3013888576
Duedate: Sep 26, 2024  -->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

        <div class="introContent" >
            <h2 class="center">About Me</h2>
         <div id="intro" class="intro">
         <div id="contact-form" class="align">
             
             <div class="about-container">
            <section class="about-image">
              
            
            <img src='/assets/avatar.jpg' alt="profile"  width="200px" height="300px" align-text="right" />
            </section>
            <section class="about-text">
                <h2>My name is Xuan Tri Nguyen</h2>
                <p>I am a Software Engineering Technology student passionate about developing applications<br></br> that are both functional and visually appealing, with strengths in interface design, debugging/QA and Agile practices .</p>
                <a href="/assets//Xuan Tri Nguyen - Resume.pdf" class="download-resume-btn">Download Resume</a>
            </section>
        </div>
        </div>
          </div>
          </div>
            <%- include('partials/footer') %>
    </body>

</html>