<!-- education.ejs
Xuan Tri Nguyen 
3013888576
Duedate: Sep 26, 2024  -->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <div class="introContent" >
            <h2 class="center">Education</h2>
     <div id="intro" class="intro">
        
     <div id="contact-form" class="align">
        
     <section class="education-section">
        
        <div class="education-item">
            <h3>Software Engineering Technology (Co-op) - Advanced Diploma</h3>
            <p>Centennial College, Toronto, ON</p>
            <p>Jan 2024 - Present</p>
            <p>GPA: 4.05/4.5 (A+)</p>
        </div>
        <div class="course-list">
            
            <ul>
                <li><h3>Courses:</h3>C# Programming</li>
                <li>Java Programming</li>
                <li>Client-Side Web Development</li>
            </ul>
        </div>
    </section>
    </div>
      </div>
      </div>
            <%- include('partials/footer') %>
    </body>

</html>
