<!-- projects.ejs
Xuan Tri Nguyen 
3013888576
Duedate: Sep 26, 2024  -->
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
        <div class="introContent" >
            <h2 class="center">My Projects</h2>
     <div id="intro" class="intro">
     <div id="contact-form" class="align">
     <section class="projects">
        <div class="project">
        <a href="/assets/Calculator.rar" download><img src="/assets/calculatorProject.png" alt="Project 1"></img></a>
            <div class="project-description">
                <h3>Scientific Calculator </h3>
                <p>Created a calculator app that converts units and solves basic math as well as scientific math.</p>
            </div>
        </div>
        <div class="project">
        <a href="/assets/Group Project.rar" download><img src="/assets/sqlProject.jpg" alt="Project 2"></img></a>
            <div class="project-description">
                <h3>E-commerce Database</h3>
                <p>A database that Co-developed allows business to view, update and edit the products in warehouse as well as the shipment status of online customers.</p>
            </div>
        </div>
        <div class="project">
        <a href="/assets/individualProject.rar" download><img src="/assets/retailPageProject.png" alt="Project 3"></img></a>
            <div class="project-description">
                <h3>Electronic Store Web Design</h3>
                <p>Designed a responsive, user-interactable, friendly UI for a bussines retailing electronics products.</p>
            </div>
        </div>
    </section>
    </div>
      </div>
      </div>
        
        <%- include('partials/footer') %>
    </body>

</html>